
body {
  background-color: black;
  color: black;
  font-family: 'Cinzel', serif;
  height: 100%;
  background-image: url('https://i.imgur.com/nKrWtpg.jpg');
  background-size: cover;
  /* margin-bottom: 60px; */

}

/* #root {
  padding-bottom: 60px;
} */

.App {
  text-align: center;
  min-height: 120vh;
}

a:link {
  text-decoration: none;
  color: black
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

.navBar {
  border: 5px solid black;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(103,137,163,1) 0%, rgba(1,83,121,1) 0%, rgba(1,100,139,1) 39%, rgba(79,132,143,1) 100%);
}

.navBarOptions {
  display: flex;
  list-style-type: none;
  /* justify-content: space-around; */
  /* align-items: center; */
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  

}

.navBarOptions li {
  cursor: pointer;
  padding: 0.5rem;
  flex: auto;
  text-align: center;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 10% 3%;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(103,137,163,1) 0%, rgba(1,83,121,1) 0%, rgba(1,100,139,1) 39%, rgba(79,132,143,1) 100%);
  padding: 5px;
  /* outline: 5px solid rgb(10, 50, 124);   */
  border: 5px solid #c0c0c0;  
  border-radius: 3%;
  /* padding-bottom: 3.7rem; */
}



#footer {

  bottom: .5%;
  left: 1%;
  width: 99%;
  height: 70px;
  background: #485563;  
  background: -webkit-linear-gradient(to top, #29323c, #485563);  
  background: linear-gradient(to top, #29323c, #485563); 
  outline: 5px solid black;
  margin-left: 5px;
  /* border-right: 10px solid black; */
  
}

.footerSpace {
height: 60px;
}

.footerOptions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  justify-items: flex-start;
  padding-top: 15px;
}

.socialMedia {
  justify-self: center;
}

.followUs {
  margin-right: 15px;
}

.footerOptions li {
  list-style: none;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border-color: black;
  margin-left: 5px;
  margin-right: 5px;
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 20px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
  transform: scale(1)
}

.icon:hover {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
  transform: scale(1.2);
}


@media all and (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    text-align: center;
  }
}

.container{
  margin:20px auto;
  width: 15px;
  height: 15px;
  position:relative;
  display: inline-block;
  transform-origin:center bottom;
  animation-name: flicker;
  animation-duration:3ms;
  animation-delay:200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform: rotate(-90deg);
  animation-play-state: paused;
  opacity: 0;
}

.flame{
  bottom:0;
  position:absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform:rotate(-45deg) scale(1.5,1.5);
  /* transform:rotate(90deg) */
}

.yellow{
  left:3.75px; 
  width: 7.5px;
  height: 7.5px;
  background:gold;
  box-shadow: 0px 0px 2.25px 1px gold;
  /* transform:rotate(90deg) */
}

.orange{
  left:2.5px; 
  width: 10px;
  height: 10px;
  background:orange;
  box-shadow: 0px 0px 2.75px 1px orange;
  /* transform:rotate(90deg) */
}

.red{
  left:1.25px;
  width: 12.50px;
  height: 12.50px;
  background:OrangeRed;
  box-shadow: 0px 0px 1.25px 1px OrangeRed;
  /* transform:rotate(90deg) */
}

.white{
  left:3.75px; 
  bottom:-1px;
  width: 7.5px;
  height: 7.5px;
  background:white;
  box-shadow: 0px 0px 2.25px 1px white;
  /* transform:rotate(90deg) */
}

.circle{
  border-radius: 50%;
  position:absolute;  
}

@keyframes flicker{
  0%   {transform: rotate(-90deg);}
  20%  {transform: rotate(-91deg);}
  40%  {transform: rotate(-91deg);}
  60%  {transform: rotate(-90deg) scaleY(1.04);}
  80%  {transform: rotate(-92deg) scaleY(0.92);}
  100% {transform: rotate(-90deg);}
}

li:hover .container {
  opacity: 1;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  animation-play-state: running;
}

i {
  position: relative;
  display: inline-block;
  height: 25px;
}